$navbar-red: rgb(219, 88, 100);
$heading-blue: rgb(41, 93, 121);
$body-gray: rgba(246, 246, 242, 1);
$footer-black: rgba(51, 51, 51, 1);
$span-red: rgb(219, 88, 100);
$collapse-gray: #8b95a4;
$text-gray: rgb(246, 246, 242);

$false-red: #f89294;
$true-green: #a4e891;

$progress-red: #da6366;
$progress-orange: #de9b5f;
$progress-yellow: #e6c05e;
$progress-light-green: #b7c778;
$progress-green: #a0b64e;

#search-screen {
  height: 100vh;
}

#canvas-background {
  background: rgb(242, 242, 242);
  -webkit-user-drag: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  //height: 100vh;
  height: 85vh;
}


body {
  background-color: $body-gray;
  padding-top: 90px;
}

h3 {
  color: $heading-blue;
}

#fact-navbar {
  background-color: $navbar-red;
  height: 90px;
}

#footer {
  background-color: $footer-black;
  height: 170px;
  margin-top: 100px;
  width: 100%;
}

/*******************************
 * O wiarygodności newsa
 */

p span {
  color: $span-red;
}

//@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
//.card-header > a:before {
//    float: right !important;
//    font-family: FontAwesome;
//    content:"\f055";
//    padding-right: 5px;
//}
//.card-header > a.collapsed:before {
//    float: right !important;
//    content:"\f056";
//}

.card-header {
  background: $collapse-gray;
  //height: 54px;
  border-radius: 0px;
  cursor: pointer;

  h5 {
    color: $text-gray;
  }
}

.fact-true {
  color: $true-green
}
.fact-false {
  color: $false-red
}

/*******************************
 * Analizowany news
 */

/*******************************
 * Oceń wiarygodność
 */

.btn-group {
  .btn {
    border-radius: 2.5rem;
    font-size: 0.75rem;
    height: 60px;
    width: 120px;
    white-space: normal;

    &.btn-red {
      background-color: $progress-red;
      color: #ffffff;
    }
    &.btn-orange {
      background-color: $progress-orange;
      color: #ffffff;
    }
    &.btn-yellow {
      background-color: $progress-yellow;
      color: #ffffff;
    }
    &.btn-light-green {
      background-color: $progress-light-green;
      color: #ffffff;
    }
    &.btn-green {
      background-color: $progress-green;
      color: #ffffff;
    }
  }
}