<h4>Ty też? Tysiące Polaków straci 500+</h4>
<p>W samym powiecie węgorzewskim i Poznaniu ponad 400 rodzin będzie musiało oddać 500+. W skali całego kraju tysiące Polaków straci dostęp do świadczenia i będzie musiało oddać równowartość pobranej kwoty.</p>
<p>Głos Wielkopolski poinformował, że sami poznaniacy mają do oddania blisko 320 tysięcy. Każda z rodzin, która nienależnie pobrała 500+ będzie musiała zwrócić pieniądze.</p>
<p>Jest jednak szansa, by uchronić się przed obowiązkiem zwrotu pieniędzy pobranych z tytułu tego świadczenia. Rodzice powinni regularnie informować o jakichkolwiek zmianach, które zaszły w dochodach członków rodziny lub osób posiadających prawa do opieki nad dzieckiem.</p>
<span>Zobacz więcej</span>
