<div id="search-screen">
  <canvas id="canvas-background" resize="true" data-paper-scope="1">
  </canvas>
  <div id="search-box" class="text-center">
    <h5>Chcesz wiedzieć czy news, który czytasz jest wiarygodny?</h5>
    <form class="form-inline justify-content-center" id="search-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="wklej swój link" />
        <button class="btn btn-light-green" type="submit">Sprawdź</button>
      </div>
    </form>
    <p>Nie masz newsa? Sprawdź przykładowy! <a href="#" id="search-random">Kliknij tutaj</a></p>
  </div>
</div>
<div class="source hidden" style="border-width: 0px 0px 0px 1px;"></div>