<div id="accordion">
  <div class="card">
    <div class="card-header" id="eval-author">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseAuthor" aria-expanded="true" aria-controls="collapseOne">
          Autor
        </button>
      </h5>
    </div>
    <div id="collapseAuthor" class="collapse collapsed" aria-labelledby="eval-author" data-parent="#accordion">
      <div class="card-body">
        <p>Jeśli ktoś podpisuje się swoim nazwiskiem, nie boi się, że jego nazwisko zostanie powiązane z tekstem. Taki tekst wydaje się być bardziej wiarygodny od niepodpisanego. Sprawdź, czy autor postu istnieje i pisał wcześnej na podobne tematy.</p>
        <p>
          <strong>Autor analizowanego newsa: <span>BRAK</span></strong>
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="eval-date">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDate" aria-expanded="true" aria-controls="collapseOne">
          Data
        </button>
      </h5>
    </div>
    <div id="collapseDate" class="collapse collapsed" aria-labelledby="eval-date" data-parent="#accordion">
      <div class="card-body">
        <p>Jeśli ktoś podpisuje się swoim nazwiskiem, nie boi się, że jego nazwisko zostanie powiązane z tekstem. Taki tekst wydaje się być bardziej wiarygodny od niepodpisanego. Sprawdź, czy autor postu istnieje i pisał wcześnej na podobne tematy.</p>
        <p>
          <strong>Autor analizowanego newsa: <span>BRAK</span></strong>
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="eval-searches">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSearches" aria-expanded="true" aria-controls="collapseOne">
          Wyszukania
        </button>
      </h5>
    </div>
    <div id="collapseSearches" class="collapse collapsed" aria-labelledby="eval-searches" data-parent="#accordion">
      <div class="card-body">
        <p>Jeśli ktoś podpisuje się swoim nazwiskiem, nie boi się, że jego nazwisko zostanie powiązane z tekstem. Taki tekst wydaje się być bardziej wiarygodny od niepodpisanego. Sprawdź, czy autor postu istnieje i pisał wcześnej na podobne tematy.</p>
        <p>
          <strong>Autor analizowanego newsa: <span>BRAK</span></strong>
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="eval-similar">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSimilar" aria-expanded="true" aria-controls="collapseOne">
          Podobne newsy
        </button>
      </h5>
    </div>
    <div id="collapseSimilar" class="collapse collapsed" aria-labelledby="eval-similar" data-parent="#accordion">
      <div class="card-body">
        <p>Jeśli ktoś podpisuje się swoim nazwiskiem, nie boi się, że jego nazwisko zostanie powiązane z tekstem. Taki tekst wydaje się być bardziej wiarygodny od niepodpisanego. Sprawdź, czy autor postu istnieje i pisał wcześnej na podobne tematy.</p>
        <p>
          <strong>Autor analizowanego newsa: <span>BRAK</span></strong>
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="eval-clickbaits">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseClickbaits" aria-expanded="true" aria-controls="collapseOne">
          Brak słów-haczyków (tzw. clickbait)
        </button>
      </h5>
    </div>
    <div id="collapseClickbaits" class="collapse collapsed" aria-labelledby="eval-clickbaits" data-parent="#accordion">
      <div class="card-body">
        <p>Jeśli ktoś podpisuje się swoim nazwiskiem, nie boi się, że jego nazwisko zostanie powiązane z tekstem. Taki tekst wydaje się być bardziej wiarygodny od niepodpisanego. Sprawdź, czy autor postu istnieje i pisał wcześnej na podobne tematy.</p>
        <p>
          <strong>Autor analizowanego newsa: <span>BRAK</span></strong>
        </p>
      </div>
    </div>
  </div>
</div>
