<div class="container">
  <div class="row">
    <p>Jak oceniasz przesłany news?</p>
  </div>
  <div class="row">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-red">W ogóle niewiarygodny</button>
      <button type="button" class="btn btn-orange">Niewiarygodny</button>
      <button type="button" class="btn btn-yellow">Trudno ocenić</button>
      <button type="button" class="btn btn-light-green">Trochę wiarygodny</button>
      <button type="button" class="btn btn-green">Bardzo wiarygodny</button>
    </div>
  </div>
  <div class="row">
    <small><i>Kliknij w odpowiedni guzik, aby ocenić</i></small>
  </div>
</div>
