{% load static %}
<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}FACTycznie{% endblock %}</title>

  <meta charset="utf-8"/>

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css" />

  {% block styles %}{% endblock %}

  <script src="{% static 'libs/jquery.js' %}"></script>
  <script src="{% static 'libs/paper-full.js' %}"></script>
  <script src="{% static 'libs/bootstrap.js' %}"></script>

  {% block scripts %}{% endblock %}
</head>
<body style="height: 100vh">
  {% block canvas-bg %}{% endblock %}
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
